* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
.home,
.login-page {
    min-height: 100vh;
    background: url("/static/images/bg.jpg") no-repeat center center / cover;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2e7d32;
    color: white;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.header-right{
    display: flex;
    align-items: center;
}

.admin-btn{
    background: #149826;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.admin-btn:hover{
    background: #108909;
}


.site-name {
    color: #2c3e50;
    font-size: 26px;
    font-weight: bold;
}

/* Start button */
.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2ecc71;
    color: #fff;
    padding: 22px 55px;
    font-size: 24px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.start-btn:hover {
    background: #27ae60;
}

/* Bottom welcome box (INDEX) */
.welcome-box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    padding: 18px 35px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.welcome-box h2 {
    font-size: 24px;
    color: #2c3e50;
}

.welcome-box p {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
